.Input-container {
  display: flex;
  gap: 70px;
  width: 1115px;
  margin: 0 auto;
  justify-content: center;
  margin-top: 70px;
  padding: 20px 50px;
  background: #e8d1f0;
  border-radius: 20px;
  overflow: auto;
  white-space: nowrap;
}

.Inputs {
  display: flex;
  gap: 70px;
}

.plus-button {
  background-color: white;
  font-size: 60px;
  padding: 0 15px;
  border-radius: 100px;
}

.plus-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
