/* src/components/Chat.css */
.chat-container {
  border: 3px solid #951abe;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 20px;
  height: 732px;
}

.chat-title {
  font-size: 1.5rem;
  color: #6a5acd;
}

.messages-container {
  margin-top: 20px;
  max-height: 700px;
}

.message {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.message-name {
  font-weight: 700;
}

.message-text {
  color: #888;
}

.message-time {
  font-size: 0.8rem;
  color: #888;
}

.message-inner {
  display: flex;
  gap: 30px;
}
