/* src/components/Calendar.css */
.calendar-container {
  border: 3px solid #951abe;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 20px;
}

.calendar-title {
  font-size: 1.5rem;
  color: #6a5acd;
}

.calendar-table {
  width: 100%;
  margin-top: 20px;
}

.calendar-table th,
.calendar-table td {
  padding: 10px;
  text-align: center;
}

.calendar-table th {
  border-radius: 20px;
  background: rgba(149, 26, 190, 0.1);
}

.calendar-table td {
  border-bottom: 1px solid #e0e0e0;
}

.inner-line {
  width: 100%;
  height: 0px;
  border: 2px solid rgba(149, 26, 190, 0.48);
}
